
        .ae-guide {
            text-align: left;
            font-weight: bold;
            margin-top: 0px;
            padding: 10px;
            margin-right: 15px;
            margin-left: 18px;
            background-color: #EFC231;
        }

        .iconGuide {
            float: right;
            width: 100px;
            height: 100px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAA4klEQVR42u3aQQqCQBiGYW/QbbpZx+gqHaZ1BpKhq2jVtoRaRRmp2Ec8D8yuXPwvg81QUQAAAAAAAAAAAAAAAAAwk13dVt26vlgX0/lNkPObIKIEBhm0TDUsiCiBQUQJDFLWzdqEg4LYJYL8d5ARzxRkZJTnGNVUzzTdGXdRWZ4Wn4L0fYYZgzy+56SfFARBBDEdQRBEEL48ON7XsVmZTlKQCU70TBvE1YggCCIIggjCIPtDsxQkaXd0hz9BooK0G0Gy3h9bQbKC9P5NyAVj1q8sd1kAAAAAAAAAAAAAAAAAsW5LZ7ZhVOgjqAAAAABJRU5ErkJggg==);
            background-position: 0px 0px;
            background-repeat: no-repeat no-repeat;
        }

        .ae-guide p {
            font-size: 16px;
            margin: 3px;
            color: #15428B;
        }

        .sideBar {
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10%;
            margin-bottom: 10%;
        }

        .sideheaderFont {
            color: black;
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            font-family: "CorbelRegular", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
            padding-bottom: 2%;
            /*text-shadow: 0 1px 1px black;*/
        }

        .sideFont {
            color: black;
            text-align: left;
            font-style: normal;
            font-size: 14px;
            font-weight: 200;
            padding-bottom: 5%;
            padding-left: 5%;
            padding-right: 5%;

            /*margin: 8px 0;*/
            /*text-shadow: 0 1px 1px black;*/
            /*font-family: "CorbelRegular", "Helvetica Neue", Helvetica, Arial, Geneva,
                sans-serif;*/
        }

        .guide {
            float: left;
            width: 330px;
            height: 600px;
            background: #EFC231;
            margin-top: 0px;
            margin-left: 5%;
            margin-right: 5%;
        }

        .section {
            /*overflow-y: scroll; */
            padding: 1%;
            height: auto;
        }


